.App {
  font-family: sans-serif;
  font-size: small;
  color: black;
  height: 100vh;
  width: 100vw;
}

/* Fonts */
h3 {
  font-family:'Times New Roman', Times, serif;
  color: rgb(58, 76, 76);
  font-size: 20px;
  font-style: oblique;
  line-height: 3;
}

h4 {
  color: rgb(58, 76, 76);
  font-family:sans-serif;
  font-size: medium;
  line-height: 1;
  margin-block-start: 10px;
  margin-block-end: 5px;
  margin-bottom: 10px;
  font-style: italic;
  font-weight:normal;
  font-stretch: condensed;
}

h5 {
  font-family:sans-serif;
  font-size: small;
  line-height: 1;
  margin: 0px;
  font-style:italic;
  display: inline-block;
  text-align: start;
  font-weight:normal;
}

p {
  margin-block-start: 5px;
  margin-block-end: 5px;
  font-family: sans-serif;
  font-size: small;
  white-space: pre-wrap;
}


/* ========================= */

/* Header */
.Header {
  background-color: white;
  height: 105px;
  text-align: center;
  font-size:20px;
  color: black;
  position: fixed;
  width: 100%;
  z-index: 2;
  top: 0px;
  left: 0px;
  right: 0px;
}

.NavigatorBox {
  background-color: white ;
  height: 40px;
}

/* SideMenu */
.sideMenu {
 padding:30px;
}

/* Cart */
.cart {
  padding: 15px;
  line-height: 1;
  font-size: smaller;
  font-family: sans-serif;
  overflow-y: scroll;
}

.cartItem {
  display: inline-flex;
  margin-bottom: 15px;
}

.cartPic{
  width: 80px;
  height: 80px;
  border: 1px solid grey;
  margin-right: 10px;
  margin-top: 5px;
  align-self: center;
}

.cartDetail {
  width: 200px;
  line-height: 1.5;
}
.adjustQuatity {
  height: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
}

/* ===================== */
/* Main */

.MainBox {
  text-align: center;
}

.MuiButton-root {
  background-color: white !important;
  color: black !important;
  border-radius: 3px  !important;
  border: 2px solid gray !important;
  height: 30px !important;
  width: 100% !important;
  font-size: small !important;
  font-family:sans-serif  !important;
  margin-top: 10px !important;
}

.MuiPaper-root {
  width: 320px;
}

.MuiInputLabel-root {
  font-size: small !important;
}

.MuiToolbar-root {
  min-height: 30px !important;
  height: auto !important;
}

.MuiMenuItem-root {
  height: 40px;
}

.MuiOutlinedInput-root {
  min-width: 100px;
  width: auto;
  height: 30px;
  border-radius: 0px !important;
  margin: 5px;
}

.MuiInputBase-input {
  font: -webkit-control !important;
}

.MuiListItem-root {
  font-family: sans-serif;
  font-style: italic;
}

.Body {
  position:absolute;
  margin-top: 150px;
  height: calc(100vj - 150px);
}

.content {
  text-align: center;
  width: 100vw;
  height: calc(100vh -150px);
}

.contentPic {
  width: 100vw;
  object-fit: contain;
}

.contentBox {
  text-align: center;
  width: 85vw;
  margin: auto;
  margin-bottom: 30px;
}

.flexbox{
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.flexbox-div {
  width: 300px;
  height: 400px;
  margin: 10px;
  position: relative;
}

.productPic {
  width:300px;
  height:280px;
  object-fit: cover;
}

.listTag {
  height: auto;
  text-align: left;
  padding: 10px;
  font-size:small;
  color: rgb(58, 76, 76);
}

.addToCart {
  white-space: nowrap;
  position: absolute;
  display: inline-block;
  vertical-align: baseline;
  bottom: 0px;
}

.App-footer {
  text-align: center;
  color: gray;
}