.App {
  font-family: sans-serif;
  font-size: small;
  color: black;
  height: 100vh;
  width: 100vw;

}

h3 {
  font-family:'Times New Roman', Times, serif;
  color: rgb(58, 76, 76);
  font-size: 20px;
  font-style: oblique;
  line-height: 3;
}

h4 {
  font-family:sans-serif;
  font-size: medium;
  line-height: 1;
  margin: 0px;
}

h5 {
  font-family:sans-serif;
  font-size: small;
  line-height: 1;
  margin: 0px;
  font-style:italic;
  /* font-weight: normal; */
  display: inline-block;
  text-align: start;
}

.AppHeader {
  background-color: white;
  height: 105px;
  text-align: center;
  font-size:20px;
  color: black;
  position: fixed;
  width: 100%;
  z-index: 2;

}

.MainBox {
  text-align: center;
}

.Navigator {
  background-color: white;
  height: 40px;
}

.MuiInputLabel-root {
  font: -webkit-control;
  font-size: small !important;
}

.MuiToolbar-root {
  min-height: 30px !important;
  height: auto !important;
  /* flex-wrap: wrap !important; */
  /* font: -webkit-control;
  font-size:medium; */
}

.MuiMenuItem-root {
  height: 40px;
}

.MuiOutlinedInput-root {
  min-width: 100px;
  width: auto;
  height: 30px;
  border-radius: 0px !important;
  margin: 5px;

}

.MuiInputBase-input {
  font: -webkit-control !important;
}

.Body {
  position:absolute;
  margin-top: 150px;
  height: calc(100vj - 150px);
}

.content {
  text-align: center;
  width: 100vw;
  height: calc(100vh -150px);
}

.contentPic {
  width: 100vw;
  object-fit: contain;
}

.contentBox {
  text-align: center;
  width: 80vw;
  margin: auto;
  margin-bottom: 30px;
}

.flexbox{
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex-wrap: wrap;

}
.flexbox-div {
  width: 300px;
  height: 400px;
  /* overflow: hidden; */
  margin: 10px;
  /* border: 1px solid black; */
  position: relative;
}

.productPic {
  width:300px;
  height:220px;
  object-fit: cover;
}

.listTag {
  height: auto;
  text-align: left;
  padding: 10px;
  /* font: -webkit-control; */
  font-size:small;
  color: rgb(58, 76, 76);

  /* overflow-wrap: break-word; */
}

.addToCart {
  white-space: nowrap;
  position: absolute;
  display: inline-block;
  vertical-align: baseline;
  bottom: 0px;
}

.App-footer {
  text-align: center;
  color: gray;
}