.App {
  font-family: sans-serif;
  font-size: small;
  color: black;
  height: 100vh;
  width: 100vw;

}

h3 {
  font-family:'Times New Roman', Times, serif;
  color: rgb(58, 76, 76);
  font-size: 20px;
  font-style: oblique;
  line-height: 3;

}
.AppHeader {
  background-color: white;
  height: 105px;
  /* display:block; */
  text-align: center;
  font-size:20px;
  color: black;
  position: fixed;
  width: 100%;
  z-index: 2;

}

.MainBox {
  text-align: center;
}

.Navigator {
  background-color: white;
  height: 40px;
}

.MuiInputLabel-root {
  margin: 10px;
}
.MuiToolbar-root {
  min-height: 40px !important;
  height: 40px !important;
  flex-wrap: wrap !important;
}

.MuiOutlinedInput-root {
  min-width: 100px;
  width: auto;
  height: 40px;
  border-radius: 0px !important;
}

.MuiInputBase-input {
  font: -webkit-control !important;
}

/* .MuiImageList-root {
  overflow: hidden;
} */

.Body {
  position:absolute;
  margin-top: 150px;
  height: calc(100vj - 150px);

}

.content {
  text-align: center;
  width: 100vw;
  height: calc(100vh -150px);

}

.contentPic {
  width: 100vw;
  object-fit: contain;

}

.contentBox {
  text-align: center;
  width: 80vw;
  margin: auto;
  margin-bottom: 30px;
}

.App-footer {
  text-align: center;
  color: gray;
}